<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.tapfit.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <application
        android:name="co.tapfit.android.application.TapfitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name" >
        <activity
            android:name="co.tapfit.android.MapListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TapFit" >
        </activity>

        <service
            android:name="co.tapfit.android.service.ApiService"
            android:label="ApiService" />

        <activity
            android:name="co.tapfit.android.BaseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait"
            android:theme="@style/TapFit" >
        </activity>
        <activity
            android:name="co.tapfit.android.FirstUseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black" >
        </activity>
        <activity
            android:name="co.tapfit.android.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDczDCIEQBJ5-XRbMF8bGpHo-e65c_5JdY" />

        <activity
            android:name="co.tapfit.android.PlaceInfoActivity"
            android:label="@string/title_activity_place_info"
            android:parentActivityName="co.tapfit.android.MapListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TapFit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.tapfit.android.MapListActivity" />
        </activity>
        <activity
            android:name="co.tapfit.android.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait"
            android:theme="@style/TapFit" >
        </activity>
        <activity
            android:name="co.tapfit.android.PaymentsActivity"
            android:label="@string/title_activity_payments"
            android:screenOrientation="portrait"
            android:theme="@style/TapFit" >
        </activity>
        <activity android:name="com.venmo.touch.activity.PaymentFormActivity" />

        <receiver
            android:name="com.venmo.touch.service.VenmoTouchUpdateReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.venmo.touch.UPDATE" />
            </intent-filter>
        </receiver>

        <service android:name="com.venmo.touch.service.VenmoTouchUpdateService" />

        <meta-data
            android:name="venmo_touch.enabled"
            android:value="true" />

        <activity
            android:name="co.tapfit.android.PassActivity"
            android:label="@string/title_activity_pass"
            android:screenOrientation="portrait"
            android:theme="@style/TapFit" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="aeae09dd9be73cdcb340e229c960d639d695aaaf" />

        <activity
            android:name="co.tapfit.android.RegionListActivity"
            android:label="@string/title_activity_region_list"
            android:screenOrientation="portrait"
            android:theme="@style/TapFit" >
        </activity>
        <activity
            android:name="co.tapfit.android.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:screenOrientation="portrait"
            android:theme="@style/TapFit" >
        </activity>
    </application>

</manifest>
